PORT=3001
OPENWEATHER_API_KEY="467b2752d8756d799982a61dcfe10174"
AUTH0_DOMAIN="dev-ghzh8m0m62xeh56g.us.auth0.com"
AUTH0_CLIENT_ID="kw7QWGr6rLqpM8W1OMChm6wUYzAjSxzH"
AUTH0_AUDIENCE="https://fidenz-weather-api"